body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: lightsteelblue;
}
.container {
    background: #fff;
    padding-bottom: 20px;
}
a {
  color: navy;
}
.link {
    font-size: 24px;
}
